package components

templ AddProductForm() {
	<div class="px-4 pt-2 pb-4 mb-6 w-min bg-gray-100 rounded border border-white shadow-sm" id="add-product-form">
		<h1 class="mb-2 text-2xl font-semibold">Add product</h1>
		<form
			class="flex flex-col items-start mb-0"
			hx-post="/admin/products"
			hx-swap="outerHTML"
			hx-target="#add-product-form"
		>
			<label>Name</label>
			<input type="text" name="name" class="mb-3" required/>
			<label>Description</label>
			<textarea type="text" name="description" class="mb-4" required></textarea>
			<button class="p-2 text-white bg-blue-900 rounded">Submit</button>
		</form>
	</div>
}
