package components

type SelectModel struct {
	Items []SelectItem
	Class string
}
type SelectItem struct {
	Value string
	Label string
}

templ Select(m SelectModel) {
	<select class={ m.Class }>
		for _, item := range m.Items {
			<option value={ item.Value }>{ item.Label }</option>
		}
	</select>
}
