{{ block "index" . }}
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/htmx.org@1.9.11"></script>
    <link rel="stylesheet" href="/static/css/output.css" />
    <title>groceries!</title>
  </head>
  <body class="h-full bg-green-200">
    <main>
      {{ template "user" . }}
      <div class="flex gap-4 p-6">
        <div class="flex flex-wrap gap-4">
          {{ range .Items }}
          <li>{{.Name}} {{.Icon}}</li>
          {{ end }}
        </div>
        <div class="w-1 h-full bg-gray-500"></div>
        <div id="grocery-list">test</div>
      </div>
    </main>
  </body>
</html>
{{ end }}
