package views

import (
	"github.com/timeitel/groceries/internal/infrastructure/data/db"
	"github.com/timeitel/groceries/internal/web/views/components"
)

templ AdminProductPage(p db.Product) {
	@components.Layout() {
		@contents(p)
	}
}

templ contents(p db.Product) {
	<div class="px-4 pt-2 pb-4 mb-6 w-min bg-gray-100 rounded border border-white shadow-sm">
		<h1 class="mb-2 text-2xl font-semibold">Edit product</h1>
		<form class="flex flex-col items-start mb-0" hx-post="/admin/products" hx-swap="outerHTML">
			<label class="bg-red-950">Name</label>
			<input type="text" value={ p.Name } name="name" class="mb-3 p-1" required/>
			<label>Description</label>
			<textarea type="text" name="description" class="mb-4 p-1" required>{ p.Description.String }</textarea>
			<button class="p-2 text-white bg-blue-900 rounded">Edit</button>
		</form>
	</div>
}
