{{ define "product-form" }}
<form class="flex flex-col items-start mb-0"
      hx-post="/admin/products"
      hx-swap="outerHTML">
    <label>Name</label>
    <input type="text" name="name" class="mb-3" required />
    <label>Description</label>
    <textarea type="text" name="description" class="mb-4" required></textarea>
    <button class="p-2 text-white bg-blue-900 rounded">Submit</button>
    {{ block "error" . }}
    {{ if .Error }}
    <p class="text-red-500">{{ .Error }}</p>
    {{ end }}
    {{ end }}
</form>
{{ end }}
