package pages

import (
	"fmt"
	"github.com/timeitel/groceries/internal/domain/item"
	c "github.com/timeitel/groceries/internal/web/views/components"
	"github.com/timeitel/groceries/internal/web/views/layouts"
)

templ AdminHome(items item.Items) {
	@layouts.Admin() {
		@c.AddItemForm()
		<hr class="-mx-5 mb-6 border border-black"/>
		<div id="items" class="flex flex-wrap gap-4">
			for _, i := range items {
				<a href={ templ.URL(fmt.Sprintf("/admin/items/%d", i.ID)) }>
					@c.ItemCard(i)
				</a>
			}
		</div>
	}
}
