package pages

import (
	"github.com/timeitel/groceries/internal/domain/item"
	"github.com/timeitel/groceries/internal/web/views/components"
	"github.com/timeitel/groceries/internal/web/views/layouts"
)

templ ShopperProduct(i item.Item) {
	@layouts.Shopper(shopperProductHeading()) {
		@shopperProductContent(i)
	}
}

templ shopperProductContent(i item.Item) {
	<h1 class="mb-2 text-2xl font-semibold">Product</h1>
	@components.ItemCard(i)
}

templ shopperProductHeading() {
	<a href="/">
		{ "< Home" }
	</a>
}
