package pages

import (
	"github.com/timeitel/groceries/internal/infrastructure/data/db"
	"github.com/timeitel/groceries/internal/web/views/components"
	"github.com/timeitel/groceries/internal/web/views/layouts"
)

templ ShopperProduct(p db.Product) {
	@layouts.Shopper(shopperProductHeading()) {
		@shopperProductContent(p)
	}
}

templ shopperProductContent(p db.Product) {
	<h1 class="mb-2 text-2xl font-semibold">Product</h1>
	@components.ProductCard(p)
}

templ shopperProductHeading() {
	<a href="/">
		{ "< Home" }
	</a>
}
