package pages

import (
	"fmt"
	"github.com/timeitel/groceries/internal/types"
	c "github.com/timeitel/groceries/internal/web/views/components"
	"github.com/timeitel/groceries/internal/web/views/layouts"
)

type ShopperHomeViewModel struct {
	Products types.Products
	Name     string
}

templ ShopperHome(vm ShopperHomeViewModel) {
	@layouts.Shopper(shopperHomeHeading(vm.Name)) {
		<div id="products" class="flex flex-wrap gap-4">
			for _, p := range vm.Products {
				<a href={ templ.URL(fmt.Sprintf("/products/%d", p.ID)) }>
					@c.ProductCard(p)
				</a>
			}
		</div>
	}
}

templ shopperHomeHeading(name string) {
	Hey { name }, here's your shopping list
}
