{{ block "index" . }}
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/htmx.org@1.9.11"></script>
    <link rel="stylesheet" href="/static/css/output.css" />
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon.ico">
    <title>groceries!</title>
  </head>
  <body class="h-full">
    <main>
      <header class="px-4 bg-green-200">
        Hey {{ .Name }}, heres your shopping list
      </header>
      <div class="p-4">{{ template "items" . }}</div>
    </main>
  </body>
</html>
{{ end }}
