{{ define "admin" }}
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://unpkg.com/htmx.org@1.9.11"></script>
        <link rel="stylesheet" href="/static/css/output.css" />
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon.ico">
        <title>groceries!</title>
    </head>
    <body class="h-full bg-green-200">
        <nav class="p-5 bg-white">
            Admin
        </nav>
        <main class="p-5">
            <div class="px-4 pt-2 pb-4 mb-6 w-min bg-gray-100 rounded border border-white shadow-sm">
                <h1 class="mb-2 text-2xl font-semibold">Add product</h1>
                {{ block "product-form" . }}
                {{ end }}
            </div>
            <hr class="-mx-5 mb-6 border border-black" />
            <h1 class="mb-2 text-2xl font-semibold">Products</h1>
            {{ block "products" .Products }}
            {{ end }}
        </main>
        <script>
          document.body.addEventListener('htmx:beforeSwap', function(evt) {
            if(evt.detail.xhr.status === 422){
                evt.detail.shouldSwap = true;
                evt.detail.isError = false;
            }})
        </script>
    </body>
</html>
{{ end }}
